<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= name%></h1>
    <p>Lorem ipsum dolor sit ame, consectetur adipisicing elit. Impedit soluta, eaque pariatur doloribus, laborum quidem expedita nemo ipsum excepturi deleniti voluptate, ipsa itaque esse sed repellat blanditiis repudiandae. Totam, ullam!</p>

    <%- include("../partials/footer") %>
</body> 
</html>